
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
ENV/

# VSCode settings
.vscode/

# Environment variables
.env

# MySQL dump files
*.sql

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Python egg files
*.egg
*.egg-info/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Pip
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
